{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>J-SON</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap" rel="stylesheet">
  {% comment %} <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous"> {% endcomment %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/themes/prism-tomorrow.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <nav>
      &nbsp&nbsp&nbsp&nbsp<img src="/static/images/logo_yellow.svg" class="logo">
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <div class="spacer"></div>
  <footer>
    <h6 class="footer-text"><span class="highlight" id="disclaimer">*</span>This site is a tribute to the Wu-Tang Clan and is in no way affiliated with them. You can visit their official site <a href="https://wutangclan.com/" class="link">&nbsp here. </a>&nbsp&nbsp&nbsp&nbsp</h6>
  </footer>
  <script src="https://myCDN.com/prism@v1.x/components/prism-core.min.js"></script>
	<script src="https://myCDN.com/prism@v1.x/plugins/autoloader/prism-autoloader.min.js"></script>
</body>
</html>
