{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
  <link rel="manifest" href="/static/images/site.webmanifest">
  <link rel="mask-icon" href="/static/images/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <title>J-SON</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <nav>
      &nbsp&nbsp&nbsp&nbsp<img src="/static/images/logo_yellow.svg" class="logo">
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <div class="spacer"></div>
  <footer>
    <h6 class="footer-text"><span class="highlight" id="disclaimer">*</span>This site is a tribute to the Wu-Tang Clan and is in no way affiliated with them. You can visit their official site <a href="https://wutangclan.com/" class="link" target="_blank">&nbsp here. </a>&nbsp&nbsp&nbsp&nbsp</h6>
  </footer>
</body>
</html>
