{% extends 'base.html' %}
{% block content %}

<div id="asterisk-hover">
    <h1>from the slums of JSON</h1>
    <h2>A testing API inspired by the Wu-Tang Clan<a href="#disclaimer"><span id="asterisk">*</span></a></h2>
</div>

<p>From the Slums of JSON is a real REST API that anyone can use for prototyping or testing.  Rather than some gibberish pseudo-latin, it features the words and wisdom of the Wu-Tang Clan.</p>

<p>Yes, unlike the other services that we are shamelessly ripping off, this API is actually real.  When you POST, PUT, PATCH or DELETE you are actually changing the databse.  If for any reason you'd like to start over with new data, simply refresh or revisit this page in your browser to wipe and re-seed the database.</p>

<div class="spacer"></div>

<h4>Resources</h4>
From the Slums of JSON currently has the three resources most common to a simple blog and we are working to add more. The resources themselves are related to each other, with each user potentially having several posts and comments and each post potentially having several comments.
<div class="spacer"></div>
<table>
    <tbody>
        <tr>
            <td><a href="http://localhost:8000/api/posts/" class="link">&nbsp/posts&nbsp</a></td>
            <td>13 posts</td>
        </tr>
        <tr>
            <td><a href="http://localhost:8000/api/comments/" class="link">&nbsp/comments&nbsp</a></td>
            <td>20 comments</td>
        </tr>
        <tr>
            <td><a href="http://localhost:8000/api/users/" class="link">&nbsp/users&nbsp</a></td>
            <td>9 users</td>
        </tr>
    </tbody>
</table>

<div class="spacer"></div>

<h4>Routes</h4>
<table>
    <thead>
        Feel free to use all standard http methods
        <div class="spacer"></div>
        <tr>
            <td><h5>METHOD</h5></td>
            <td><h5>ROUTE STYLE</h5></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>GET</td>
            <td><a href="/posts" class="link">/posts</a></td>
        </tr>
        <tr>
            <td>GET</td>
            <td><a href="/posts/1" class="link">/posts/1</a></td>
        </tr>
        <tr>
            <td>POST</td>
            <td>/posts</td>
        </tr>
        <tr>
            <td>PUT</td>
            <td>/posts/1</td>
        </tr>
        <tr>
            <td>PATCH</td>
            <td>/posts/1</td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td>/posts/1</td>
        </tr>
    </tbody>
</table>

<div class="spacer"></div>

<h4>Test It Out</h4>
Simply fill in the form with a resource and (if necessary) an id number and click "request" to see your response.  You'll also see the resulting endpoint used, which you can plug directly into your own application.  Want to test out your own API? Simply change the url in the form to you your own and get a response in the same way.
<div class="spacer"></div>
<div id="request">
    <div class="path-parameters">
        <div>
            <h5>METHOD</h5>
            <select id="method" name="method">
                <option value="GET">&nbspGET</option>
                <option value="POST">&nbspPOST</option>
                <option value="PUT">&nbspPUT</option>
                <option value="PATCH">&nbspPATCH</option>
                <option value="DELETE">&nbspDELETE</option>
            </select>
        </div>
        <div class="input-box">
            <h5>URL</h5>
            <input type="text" class="input" name="url" id="url" value="http://localhost:8000/api" style="width:235px" />
        </div>
        <div class="input-box">
            <h5>RESOURCE</h5>
            <input type="text" class="input" name="resource" id="resource" value="users" style="width:95px" />
        </div>
        <div class="input-box">
            <h5>ID</h5>
            <input type="text" class="input" name="id" id="id" value="1" style="width:30px" />
        </div>
        <div class="input-button">
            <h5>&nbsp</h5>
            <h5 class="link" onClick="LoadURL();" >&nbsprequest&nbsp</h5>
        </div>
    </div>
</div>
<span id="endpoint"></span>
<div class="spacer"></div>
<iframe id="my_frame" width="100%" src="http://localhost:8000/api/users/"></iframe>       
<script type="text/javascript">
    function LoadURL(){
        let url = document.getElementById("url").value
        let resource = document.getElementById("resource").value
        let id = document.getElementById("id").value
        let last = id ? "/" : ''
        let path = url + "/" + resource + "/" + id + last
        let endpoint = `Results from  your endpoint ${path}`
        document.getElementById("endpoint").innerText=endpoint
        document.getElementById("my_frame").src=path
    }
</script>

<div class="spacer"></div>

{% endblock %}

<p>https://prismjs.com/</p>
<p>scheduling: https://mattsegal.dev/simple-scheduled-tasks.html</p>
